doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    meta(name='theme-color', content='#2196F3')
    title 30 Second Learning
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='css/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    link(href='min/plugin-min.css', type='text/css', rel='stylesheet')
    link(href='min/custom-min.css', type='text/css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script.
      $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      //test to show
      $('.modal').modal();
      $('.modal-trigger').leanModal();
      });
  #modal1.modal
    .modal-content
      .row
        h4 Login
        form.col.s12
          .row
            .input-field.col.s12
              input#email.validate(type='email')
              |
              label(for='email') Email
          .row
            .input-field.col.s12
              input#password.validate(type='password')
              |
              label(for='password') Password
          .row
            a(href='#modalreg') Register
    .modal-footer
      a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Submit
  #modalreg.modal
    .modal-content
      .row
        h4 Register
        form.col.s12
          .row
            .input-field.col.s6
              input#first_name.validate(type='text')
              |
              label(for='first_name') First Name
            .input-field.col.s6
              input#last_name.validate(type='text')
              |
              label(for='last_name') Last Name
          .row
            .input-field.col.s12
              input#email.validate(type='email')
              |
              label(for='email') Email
          .row
            .input-field.col.s12
              input#password.validate(type='password')
              |
              label(for='password') Password
    .modal-footer
      a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Submit
  body#top.scrollspy
    #loader-wrapper
      #loader
      .loader-section.section-left
      .loader-section.section-right
    .navbar-fixed
      nav#nav_f.red(role='navigation')
        .container
          .nav-wrapper
            img#logo-img(src='./img/30 Second Learning Logo2.png')
            ul.right.hide-on-med-and-down
              li
                a(href='#modal1') Login
              li
                a(href='/aboutus') About
              li
                a(href='#work') Help
            ul#nav-mobile.side-nav
              li
                a(href='#modal1') Login
              li
                a(href='/aboutus') About
              li
                a(href='#work') Help
            a.button-collapse(href='#', data-activates='nav-mobile')
              i.mdi-navigation-menu
    #index-banner.section.no-pad-bot
      .container
        h1.text_h.center.header.cd-headline.letters.type
          span Quick! Teach me:
        form
          .input-field
            input.question.white-text(type='text', placeholder='Search')
    #work.section.scrollspy
      .container
        h2.header.text_b Categories
        .row
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/Art.png')
              .card-content
                span.card-title.activator.grey-text.text-darken-4 Art
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/Cooking.jpg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4 Cooking
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/Math.png')
              .card-content
                span.card-title.activator.grey-text.text-darken-4 Math
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/science.png')
              .card-content
                span.card-title.activator.grey-text.text-darken-4 Science
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/Hacks.png')
              .card-content
                span.card-title.activator.grey-text.text-darken-4 Life Hacks
          .col.s12.m4.l4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='img/English.png')
              .card-content
                span.card-title.activator.grey-text.text-darken-4 Grammar
    footer#contact.page-footer.default_color.scrollspy
      .container
        .row
          .col.l3.s12
            h5.white-text Social
            ul
              li
                a.white-text(href='#')
                  i.small.fa.fa-facebook-square.white-text
                  |  Facebook
              li
                a.white-text(href='#')
                  i.small.fa.fa-github-square.white-text
                  |  Github
      .footer-copyright.default_color
        .container  Copyright 2017
    script(src='min/plugin-min.js')
    script(src='min/custom-min.js')
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='js/materialize.js')
    script(src='js/init.js')
